*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'satisfy' ;
    src: url(../assets/fonts/Satisfy-Regular.ttf)
}
@font-face {
    font-family: 'merienda';
    src: url(../assets/fonts/Merienda-Regular.ttf);
}
@font-face {
    font-family: 'mali';
    src: url(../assets/fonts/Mali-Regular.ttf);
}


body{
    background-image: url(../assets/background/clouds.gif);

}

.enviosytitulo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
}

.enviosytitulo #encabezados{
    font-family: 'satisfy';
    font-size: 70px;
    text-align: center;
    color: blueviolet;
    grid-column: 3/4;
    grid-row: 2/3;
    transition: all 3s;
}

#encabezados:hover{
    transform: translate(-3px);
    color: aquamarine;
}

.enviosytitulo .enviosgratis{
    font-family: 'mali';
    text-align: center;
    grid-column: 3/4;
    margin-top: 20px;
    font-size: 15px;
}



.Principal{
    height: 80hv;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

}

.animate__zoomIn{
    font-family: 'merienda';
    font-size: 30px;
    text-align: center;
    color: rgb(3, 41, 63);
    margin-top: 100px;
    display: grid;
    grid-row: 1;
    grid-column: 3/7;
    animation-duration: 3s;
}

.Principal .contenido{
    margin-top: 50px;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    grid-column: 3/7;
    grid-row: 2/9;
}

.Principal .boton{
    display: grid;
    padding: 12px 25px;
    background-color: darksalmon;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'mali';
    transition: all 1s;
    grid-column: 7/8;
    grid-row: -6/-5;
    margin: 50px;
    justify-content: center;
    cursor: pointer;
}

.boton:hover{
    transform: translate(-3px);
    color: salmon;
    background-color: blueviolet;
}


/*Contenedor Productos*/

.productos{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(8,260px);
    grid-template-rows: 250px 60px 250px 60px;

}

.productos .top{
    display: grid;
    grid-column: 3;
    justify-content: start;
}
.productos .vestidos{
    display: grid;
    grid-column: 4;
    justify-content: start;
}
.productos .accesorios{
    display: grid;
    grid-column: 5;
    justify-content: start;
}

.productos .pantalones{
    display: grid;
    grid-column: 3;
    grid-row: 3;
    justify-content: start;
}
.productos .abrigos{
    display: grid;
    grid-column: 4;
    grid-row: 3;
    justify-content: start;
}

.productos .polleras{
    display: grid;
    grid-column: 5;
    grid-row: 3;
    justify-content: start;
}

/*botones productos*/

.productos .botontop{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    margin: 5px;
    padding: 5px 5px;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'mali';
    cursor: pointer;
    justify-content: start;
}

.productos .botonvestidos{
    display: grid;
    grid-column: 4;
    grid-row: 2;
    margin: 5px;
    padding: 5px 5px;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'mali';
    cursor: pointer;
    justify-content: start;
}

.productos .botonaccesorios{
    display: grid;
    grid-column: 5;
    grid-row: 2;
    margin: 5px;
    padding: 5px 5px;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'mali';
    cursor: pointer;
    justify-content: start;
}

.productos .botonpantalones{
    display: grid;
    grid-column: 3;
    grid-row: 4;
    margin: 5px;
    padding: 5px 5px;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'mali';
    cursor: pointer;
    justify-content: start;
}

.productos .botonabrigos{
    display: grid;
    grid-column: 4;
    grid-row: 4;
    margin: 5px;
    padding: 5px 5px;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'mali';
    cursor: pointer;
    justify-content: start;
}

.productos .botonpolleras{
    display: grid;
    grid-column: 5;
    grid-row: 4;
    margin: 5px;
    padding: 5px 5px;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'mali';
    cursor: pointer;
    justify-content: start;
}


.lorem{
    font-family: 'mali';
    font-size: 20px;
    text-align: center;
    margin: 30px;
}

.Pregunta{
    list-style-type: circle;
    font-family: 'mali';
    font-size: 25px;
    text-align:justify;
    margin: 40px;
}

/*Contenedor padre*/

.CajaComunicate{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

}

/*Hijos*/
.Caja{
    font-family: 'mali';
    font-size: 15px;
    text-align: justify;
    margin: 30px;
}

.mensaje{
    margin: 15px;
}

.telefono{
    font-family: 'mali';
    font-size: 15px;
    text-align: justify;
    margin-left: 70px;
    margin-top: 60px;
}

.email{
    font-family: 'mali';
    font-size: 15px;
    text-align: justify;
    margin-left: 70px;
}

.mapa{
    margin-left: 70px;
}

.horarios{
    font-family: 'mali';
    font-size: 15px;
    text-align: justify;
    margin-left: 70px;
    margin-top: 60px;
}


/*main*/
.grid-container{
    margin-top: 40px;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
}


/*Barra de navegacion*/

.navbar{
    margin-top: 30px;
    background-color: rgb(225, 149, 255);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
}

.navbar .despliegue{
    display: none;
    justify-content: space-around;
    grid-column: 2;
}

.navbar .menu{
    display: flex;
    justify-content: space-around;
    grid-column: 3/7;
}

.navbar .menu li{
        list-style-type: none;
        font-family: 'mali';
        font-size: 20px;
}

.navbar .menu a{
    text-decoration: none;
}

.navbar .shop{
    grid-column: 8/9;
    cursor: pointer;
}

/*footer*/

.piedepagina{
    display: grid;
    height: 100px;
    background-image: linear-gradient(135deg, rgba(225, 149, 255, 0.856) 10%, antiquewhite 100% );
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    font-family: 'mali';
}

.piedepagina .informacion{
    margin-top: 15px;
    margin-left: 20px;

}

.piedepagina .derechos{
    grid-row: 2;
    grid-column: 3/4;
    text-align: center;
}

.piedepagina .redes{
    grid-row: 2;
    grid-column: 6;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 15px;
}



