.lorem{
    font-family: 'king';
    font-size: 18px;
    text-align: left;
    margin-top: 30px;
    margin-left: 130px;
    margin-bottom: 50px;
    padding-right: 100px;
}

.Dudas{
    list-style-type: circle;
    font-family: 'mali';
    font-size: 25px;
    text-align:justify;
    margin-left: 100px;
}